@media only screen and (min-width: 1279px) {
    .whole-cube {
        top: 34.5%;
        left: 32%;
    }
    .copyright p {
        bottom: -2%;
        left: 15.5%;
    }
}

@media only screen and (min-width: 1335px) {
    .whole-cube {
        top: 43.7%;
        left: 32%;
    }
    .copyright p {
        bottom: -2%;
        left: 17.6%;
    }
    .scene {
        perspective: 200px;
    }
    section h1 {
        margin-top: 10vw;
    }
}

@media only screen and (min-width: 1599px) {
    .whole-cube {
        top: 38.3%;
        left: 30%;
    }
    .copyright p {
        bottom: -2%;
        left: 16.7%;
    }
    .scene {
        perspective: 130px;
    }
    section h1 {
        margin-top: 11vw;
    }
}

@media only screen and (min-width: 1919px) {
    .whole-cube {
        top: 40.5%;
        left: 33%;
    }
    .copyright p {
        bottom: -2%;
        left: 24.5%;
    }
    .scene {
        perspective: 100px;
    }
    section h1 {
        margin-top: 13vw;
    }
}

@media only screen and (min-width: 2159px) {
    .whole-cube {
        top: 38.7%;
        left: 35%;
    }
    .copyright p {
        bottom: -2%;
        left: 28.2%;
    }
    .scene {
        perspective: 70px;
    }
    section h1 {
        margin-top: 10vw;
    }
    .pen {
        top: 40%;
        right: 7%;
    }
}

@media only screen and (min-width: 2559px) {
    .whole-cube {
        top: 42.5%;
        left: 37.5%;
    }
    .copyright p {
        bottom: -2%;
        left: 32.2%;
    }
    .scene {
        perspective: 65px;
    }
    section h1 {
        margin-top: 15vw;
    }
    .pen {
        top: 40%;
        right: 10%;
    }
    .page img:nth-child(1) {
        top: 50%;
        right: 4%;
    }
    .page img:nth-child(2) {
        top: 51%;
        right: 3.75%;
    }
    .page img:nth-child(3) {
        top: 52%;
        right: 3.5%;
    }
    .page img:nth-child(4) {
        top: 53%;
        right: 3.25%;
    }
    .copyright a:nth-of-type(1) {
        bottom: 0%;
        right: 23.5%;
    }
    .copyright a:nth-of-type(2) {
        bottom: 0%;
        right: 16.5%;
    }
    .copyright a:nth-of-type(3) {
        bottom: 0%;
        right: 12.5%;
    }
    .copyright a:nth-of-type(4) {
        bottom: 0%;
        right: 27.3%;
    }
}

@media only screen and (max-width: 1024px) {
    header nav a {
        font-size: 6.625vw;
    }
    section h1 {
        padding-top: 5vw;
        font-size: 3rem;
    }
    section p {
        padding: 5vw 0;
        font-size: 3.125vw;
    }
    section a {
        padding: 4.275vw 8.75vw;
        border-radius: 10vw;
        margin-left: 0;
        font-size: 4.15vw;
    }
    .whole-cube {
        top: 22.5%;
        left: 60%;
        filter: drop-shadow(2mm 2mm 1mm #16171977);
        transform: translate(-50%, -50%) scale(2.5);
    }
    .face {
        border-radius: 2px;
    }
    .pen {
        top: 67%;
        right: 35%;
        width: 18vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 2mm #161719ad);
    }
    .page img:nth-child(1) {
        top: 70%;
        right: 31%;
        width: 35vw;
    }
    .page img:nth-child(2) {
        top: 71%;
        right: 30.75%;
        width: 35vw;
    }
    .page img:nth-child(3) {
        top: 72%;
        right: 30.5%;
        width: 35vw;
    }
    .page img:nth-child(4) {
        top: 73%;
        right: 30.25%;
        width: 35vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 3mm #161719ad);
    }
    .copyright p {
        font-size: 3.5vw;
        bottom: -2%;
        left: 32%;
    }
    .copyright a {
        font-size: 3.5vw;
    }
    .copyright a:nth-of-type(1) {
        bottom: 13%;
        right: -1%;
    }
    .copyright a:nth-of-type(2) {
        bottom: 1%;
        right: -2.5%;
    }
    .copyright a:nth-of-type(3) {
        bottom: 9%;
        right: -1%;
    }
    .copyright a:nth-of-type(4) {
        bottom: 5%;
        right: -2.5%;
    }
}

@media only screen and (max-width: 445px) {
    header nav a {
        font-size: 6.625vw;
    }
    section h1 {
        padding-top: 5vw;
        font-size: 3rem;
    }
    section p {
        padding: 5vw 0;
        font-size: 3.125vw;
    }
    section a {
        padding: 4.275vw 8.75vw;
        border-radius: 10vw;
        margin-left: 0;
        font-size: 4.15vw;
    }
    .whole-cube {
        top: 17%;
        left: 44%;
        filter: drop-shadow(2mm 2mm 1mm #16171977);
        transform: translate(-50%, -50%) scale(2);
    }
    .face {
        border-radius: 2px;
    }
    .pen {
        top: 67%;
        right: 35%;
        width: 18vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 2mm #161719ad);
    }
    .page img:nth-child(1) {
        top: 70%;
        right: 31%;
        width: 40vw;
    }
    .page img:nth-child(2) {
        top: 71%;
        right: 30.75%;
        width: 40vw;
    }
    .page img:nth-child(3) {
        top: 72%;
        right: 30.5%;
        width: 40vw;
    }
    .page img:nth-child(4) {
        top: 73%;
        right: 30.25%;
        width: 40vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 3mm #161719ad);
    }
    .copyright p {
        font-size: 3.5vw;
        bottom: -2%;
        left: 32%;
    }
    .copyright a {
        font-size: 3.5vw;
    }
    .copyright a:nth-of-type(1) {
        bottom: 13%;
        right: -1%;
    }
    .copyright a:nth-of-type(2) {
        bottom: 1%;
        right: -2.5%;
    }
    .copyright a:nth-of-type(3) {
        bottom: 9%;
        right: -1%;
    }
    .copyright a:nth-of-type(4) {
        bottom: 5%;
        right: -2.5%;
    }
}

@media only screen and (max-width: 380px) {
    .whole-cube {
        top: 17%;
        left: 47%;
        filter: drop-shadow(2mm 2mm 1mm #16171977);
        transform: translate(-50%, -50%) scale(2);
    }
    .pen {
        top: 70%;
        right: 35%;
        width: 18vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 2mm #161719ad);
    }
    .page img:nth-child(1) {
        top: 73%;
        right: 31%;
        width: 40vw;
    }
    .page img:nth-child(2) {
        top: 74%;
        right: 30.75%;
        width: 40vw;
    }
    .page img:nth-child(3) {
        top: 75%;
        right: 30.5%;
        width: 40vw;
    }
    .page img:nth-child(4) {
        top: 76%;
        right: 30.25%;
        width: 40vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 3mm #161719ad);
    }
}

@media only screen and (width: 414px) {
    section h1 {
        font-size: 3.2rem;
    }
    .whole-cube {
        top: 17%;
    }
}

@media only screen and (max-width: 370px) {
    .whole-cube {
        top: 17%;
    }
    .pen {
        top: 65%;
        right: 25%;
        width: 20vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 2mm #161719ad);
    }
    .page img:nth-child(1) {
        top: 72%;
        right: 21%;
        width: 45vw;
    }
    .page img:nth-child(2) {
        top: 73%;
        right: 20.75%;
        width: 45vw;
    }
    .page img:nth-child(3) {
        top: 74%;
        right: 20.5%;
        width: 45vw;
    }
    .page img:nth-child(4) {
        top: 75%;
        right: 20.25%;
        width: 45vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 3mm #161719ad);
    }
}

@media only screen and (max-width: 330px) {
    .whole-cube {
        top: 18%;
        left: 51%;
    }
    .page img:nth-child(1) {
        top: 76%;
        right: 21%;
        width: 45vw;
    }
    .page img:nth-child(2) {
        top: 77%;
        right: 20.75%;
        width: 45vw;
    }
    .page img:nth-child(3) {
        top: 78%;
        right: 20.5%;
        width: 45vw;
    }
    .page img:nth-child(4) {
        top: 79%;
        right: 20.25%;
        width: 45vw;
        filter: hue-rotate(5deg) drop-shadow(3mm 2mm 3mm #161719ad);
    }
}

@media only screen and (height: 823px) {
    .whole-cube {
        top: 15%;
    }
}

@media only screen and (width: 375px) and (height: 812px) {
    .whole-cube {
        top: 14%;
    }
}

@media only screen and (width: 384px) {
    .whole-cube {
        top: 16%;
    }
}